header {
    margin-right: 5%;
    margin-left: 5%;
}

.card-container {
    display: flex;
    gap: 5%;
    justify-content: space-around;
    margin: 5%;
}

.card {
    flex: 1 1 0;
    width: 0px;
    text-align: center;

}

.card-text {
    vertical-align: middle;
}

body {
    overflow: "hidden";
}

article {
    border-radius: 5%;
}

#llm-form {
    padding: 20px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.primary-button {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--primary-inverse);
}

.primary-button:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}
